.App-header {
    background-color: linear-gradient(to right, #141e30, #243b55);;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }